.navbar>.nav-link{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.nav-link a{
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 18px;
}
.nav-link:hover a{
    color:orange;
}
.fon{
    font-family: Roboto;
}
.fs-1{
    font-size: 45px;
    font-weight: bold;
}
.rw-cl-4{
    width: 100%;
    height:380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.rw-cl-4 h2{
    font-weight: bold;
}
.rw-cl-4 p{
    font-size: 15px;
    font-family: Ebrima;
    word-spacing: 2px;
}
.r-marg{
    margin-top: 10px;
    margin-bottom: 20px;
}
.foot{
    padding-top: 20px;
}